// Responsive screen widths
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;
$screen-xl: 2560px;

$green-primary: #5eef46;
$dark-green: #3eac2b;
$light-green: #c6ffbc;

$gray-1: rgb(69, 69, 69);

$red: red;
$light-red: rgb(255, 186, 186);

$gray-1: rgb(79, 79, 79);
$light-gray-1: rgb(227, 227, 227);

$lighter-dark-gray: #363636;
$dark-gray: #282828;
$darker-gray: #121212;
