@import "../../styles/settings";

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-card {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: $dark-gray;
  border-radius: 16px;
}

.login-form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.login-logo {
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.login-card-footer {
  margin-top: 30px;
}

.login-button {
  background-color: $green-primary;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 6px;
  padding: 0 10px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  &:hover {
    background-color: $dark-green;
  }
}
